
nav {
    height: 75px;
    background-color: rgb(42, 117, 187);
    color: rgb(252, 255, 219);
}

.navbar-dark .navbar-brand {
    color: rgb(255, 203, 5);
    font-size: 30px;
    font-weight: 100;
    margin: 8px 0 0 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

li {
    color: rgb(255, 203, 5);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

ul {
    font-size: 25px;
    font-weight: 100;
    color: rgb(250, 254, 210);
    margin: -47px 30px 0 0px; 
}

li:hover {
    color: whitesmoke;
    font-family: "Courier New", Courier, monospace;
}
